.ScreenToggleButtonGroup-IconWrapper {
  position: relative;
}
.ScreenToggleButtonGroup-MiniScreen-Wrapper {
  width: 30px;
  height: 22px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px dotted #52a2aa;
}
.ScreenToggleButtonGroup-MiniScreen {
  top: 0;
  width: 14px;
  height: 9px;
  border: 2px solid #52a2aa;
  position: absolute;
  border-radius: 2px;
}
.ScreenToggleButtonGroup-ToggleButton:hover,
.ScreenToggleButtonGroup-ToggleButton:active {
  background-color: transparent;
}

.ScreenToggleButtonGroup-OriginalScreen {
  width: 30px;
  height: 22px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #52a2aa;
}
